<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>10.3</string>
	<key>CFBundleDisplayName</key>
	<string>DataNose Scanner</string>
	<key>CFBundleIdentifier</key>
	<string>nl.uva.datanosescanner</string>
	<key>CFBundleVersion</key>
	<string>1.01</string>
	<key>UILaunchStoryboardName</key>
	<string>(not set)</string>
	<key>CFBundleName</key>
	<string>DataNoseScanner</string>
	<key>NSCameraUsageDescription</key>
	<string>Scan using the camera.</string>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcon.appiconset</string>
	<key>CFBundleShortVersionString</key>
	<string>101</string>
</dict>
</plist>
